extends default

block header

block content
  div.profile
    div.enemy-image(style=`background: url('/img/enemy.png') top center
    no-repeat; background-size: cover;`)
    div.enemy-details
      h1.enemy-name
        | #{enemy.name}
      h2.enemy-health
        | Health: #{enemy.health}
      p.coordinates
        | Coordinates: #{enemy.xPos},#{enemy.yPos}
      p.id
        | Id: #{enemy.id},#{enemy.yPos}